.Home {
  height: 100vh;

  margin-top: 150px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr:hover {
  background-color: #1d2025;
}

th {
  height: 50px;
  background-color: white;
  color: #282c34;
}

td {
  height: 25px;
  vertical-align: center;
}

th, td {
  border-bottom: 1px solid white;
  padding: 15px;
}